@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "_normalize";
$black: #222;
$white: #ddd;
$dark: #383636;
$light: #c9c1a6;
$red: #d17455;
$orange: #b0680e;
$yellow: #b88d05;
body {
  background: $dark;
  color: $light;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

a {
  color: $light;
  text-decoration: none;
}

form {
  margin: 0 auto;
  input[type=text] {
    border: 2px solid $orange; // padding: 0.6em 1.1em;
    padding: 10px 12px;
    background-color: $black;
    color: $light;
    transition: 1s;
    &:focus {
      transform: scale(1.2);
      outline: none;
      box-shadow: 1px 1px 1px $light;
    }
  }
}

.instructions {
  text-align: center;
  a {
    font-size: 1.2em;
    transition: 0.6s;
    &:hover {
      letter-spacing: 1px;
    }
  }
}

.result {
  border: 2px solid $yellow;
  border-radius: 20px;
  margin: 40px 0;
  padding: 20px 30px; // transform: scale(0.96);
  transition: 0.3s;
  &:hover {
    transform: scale(1.02);
  }
  h3 {
    color: $red;
    padding-left: 15px;
  }
}